<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/home">Home</a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
    <h1>Albert Einstein</h1>
    <h2>Este físico aleman es considerado el científico más importante del s. XX </h2>
    <img src="./ae.jpg"  alt="al" width="800px">
    <h3 id="text">Albert Einstein: biografía y resumen de sus aportes a la ciencia
        <br>
        <br>
        E=M·C². Es la ecuación más importante de la historia. Al menos, la más famosa. La encontramos en camisetas, tazas, mochilas, stickers, etc. Pero, ¿sabemos de dónde viene y cuáles fueron sus implicaciones en el mundo de la física y de la ciencia en general?
        Esta fórmula tan sencilla y elegante procede de las investigaciones de Albert Einstein, una de las figuras más reconocidas de la historia de la ciencia. Con su trabajo, cambió totalmente la concepción que teníamos de la física y de los fenómenos que ocurren tanto a nivel astronómico como atómico y subatómico.
        <br>
        <br>
        Tristemente relacionado con el desarrollo de la bomba atómica, pues usaron sus teorías con un fin armamentístico, Albert Einstein hizo innumerables aportes al mundo de la física. A día de hoy, su visión sigue siendo pieza clave para entender el Universo. Desde lo más grande a lo más pequeño.
        En este artículo haremos un repaso de su vida y mostraremos cuáles fueron las contribuciones más importantes al mundo de la física, viendo qué aportaron (y siguen aportando) a nuestra manera de comprender lo que nos rodea.
    </h3>

</body>
</html>