<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>
    <h1>Albert Einstein: Trabajos</h1>
    <h2>Principales aportes de Albert Einstein a la ciencia </h2>
    <img src="./albert.jpg"  alt="al" width="800px">>
    <h3 id="work">Albert Einstein: biografía y resumen de sus aportes a la ciencia
        <br>
        <br>
        <h2>1. Teoría de la relatividad especial</h2>
        Esta teoría de Einstein postula que lo único constante en el Universo es la velocidad de la luz. Absolutamente todo lo demás varía. Es decir, es relativo.
        <br>
        <br>
        <h2>2. El efecto fotoeléctrico</h2>
        Haciéndolo merecedor del Nobel de Física, Einstein realizó un trabajó en el que demostró la existencia de los fotones. Este estudio consistió en un planteamiento matemático que revelaba que algunos materiales, 
        al incidir luz sobre ellos, emitían electrones.
        <br>
        <br>
        <h2>3. Ecuación E=MC²</h2>
        Albert Einstein, en 1905, fue capaz de descifrar uno de los mayores enigmas con tan solo una multiplicación. “E” significa energía; “M”, masa; “C” es la velocidad de la luz. Con estos tres elementos Einstein descubrió que la energía (en cualquier forma conocida) que un cuerpo emite es proporcional a 
        su masa y a la velocidad a la que se mueve.
        <br>
        <br>
        <h2>4. Teoría de la relatividad general</h2>
        Esta teoría parte de la base de que el espacio y el tiempo están relacionados. No van por separado como se creía hasta entonces. De hecho, forman un solo “pack”: el espacio-tiempo. No podemos hablar solo de las tres dimensiones que todos conocemos (largo, alto y ancho). Debemos añadir una cuarta dimensión: el tiempo.
        <br>
        <br>
        <h2>5. Teoría de campo unificado</h2>
        Elaborada durante sus últimos años de vida, la Teoría de campo unificado, como su propio nombre indica, “unifica” distintos campos. En concreto, Einstein buscó la manera de relacionar los campos electromagnéticos y los gravitatorios.
        <br>
        <br>
        <h2>6. Estudio de las ondas gravitacionales</h2>
        Esta teoría se confirmó en 2016, cuando un observatorio astronómico detectó estas ondas gravitacionales después de la fusión de dos agujeros negros. 100 años después, la hipótesis de Einstein fue corroborada.
        <br>
        <br>
        <h2>7. Movimiento del Universo</h2>
        Otra implicación de la teoría de la relatividad fue que si el Universo estaba formado de cuerpos masivos y que todos ellos deformaban el tejido del espacio-tiempo, el Universo no podía ser algo estático. Debía ser dinámico.
        <br>
        <br>
        <h2>8. Movimiento Browniano</h2>
        Albert Einstein demostró que el movimiento aleatorio de estas partículas en el agua u otros líquidos era debido a las colisiones constantes con un número increíblemente elevado de moléculas de agua. Esta explicación acabó por confirmar la existencia de los átomos, que hasta ese momento era solo una hipótesis.
        <br>
        <br>
        <h2>9. Teoría cuántica</h2>
        La Teoría cuántica es uno de los campos de estudio más famosos de la física y, a la vez, uno de los más complejos y difíciles de entender. Esta teoría a la que Einstein contribuyó enormemente, plantea la existencia de unos partículas llamadas “cuanto”, que son las entidades más pequeñas del Universo. Es el nivel mínimo de estructura de la materia, pues son las partículas que conforman los elementos de los átomos.
    </h3>
    
</body>
</html>